# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
  - cron: "1/2 0 * * *" #UTC Time (Âáè8)

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-16.04, ubuntu-20.04, macos-11.0, macos-latest]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Startup...

      - name: Fetch URL
        # You may pin to the exact commit or the version.
        # uses: boyeborg/fetch-url-action@ff420affd24e1d8131bc65b8cd4c1b9bdd9fb11f
        uses: boyeborg/fetch-url-action@v1.1
        with:
          # The url to fetch
          url: https://mp.weixin.qq.com/s/7zHiUfXtaNAwA-Wrb80hLA
    
      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Done.
          ls
          curl https://mp.weixin.qq.com/s/7zHiUfXtaNAwA-Wrb80hLA
